body
{
  background-color: #181818;
}
img.pocetna
{
  width: 100%;
  height: 100%;
}
.veci
{
  height: 500px;
}
p
{
  color: #aaaaaa;
  text-align: centers;
}
h1
{
  text-align: center;
  color: #aaaaaa;
}
.image-igraonica{
	width: 400px;
}
@media only screen and (min-width : 600px) {
	.telefon-foto {
	text-align: center;
	}
}
.igraonica-tekst {
  padding: 20px;
  margin-bottom: 10px;
}
.google-map{

  height: 500px;


}
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;	
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}
h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

