body
{
  background-color: #181818;
}
img.pocetna
{
  width: 100%;
  height: 100%;
}
.veci
{
  height: 500px;
}
p
{
  color: #aaaaaa;
  text-align: centers;
}
h1
{
  text-align: center;
  color: #aaaaaa;
}
.image-igraonica{
	width: 400px;
}
@media only screen and (min-width : 600px) {
	.telefon-foto {
	text-align: center;
	}
}
.igraonica-tekst {
  padding: 20px;
  margin-bottom: 10px;
}
.google-map{

  height: 500px;


}
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.btn-three {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}


