
html, body{
	background-color: #181818;
	margin:0;
}
.header {
    z-index: 32;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #aaaaaa;
    background-color: 121212;
}



footer {
	background-color: #d1d1d1;
	padding: 20px;
	color: #535353;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	}
footer a {
	text-decoration: none;
	color: #535353;
}
footer a:hover {
	text-decoration: underline;
	color: #000000;
}
.footer-nav {
	padding-top: 20px;
}
.footer-nav a {
	color: #535353;
	font-size: 14px;
}
img{
	width: 100%;
}
.dark-background{
	background-color: #181818;
}
h1{
	color: #aaaaaa;
	text-align: center;
	padding-top: 80px;
	font-size: 100px;
}
@media (max-width:600px){
h1:hover{
	
	font-size: 110px;
	transition:font-size 0.2s;
}}
@media (min-width:600px){
h1:hover{
	
	font-size: 150px;
	transition:font-size 0.5s;
}}

section{
	background-color: #181818;
}

@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

.typing > *{
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 5s steps(50);
}

p{
	font-size: 40px;
	color: #fff;
}
@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

