
html, body{
	background-color: #181818;
	margin:0;
}
.header {
    z-index: 32;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #aaaaaa;
    background-color: 121212;
}

.Navigation_Bar_Border{
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}
footer {
	background-color: #d1d1d1;
	padding: 20px;
	color: #535353;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	}
footer a {
	text-decoration: none;
	color: #535353;
}
footer a:hover {
	text-decoration: underline;
	color: #000000;
}
.footer-nav {
	padding-top: 20px;
}
.footer-nav a {
	color: #535353;
	font-size: 14px;
}
img{
	width: 100%;
}
.dark-background{
	background-color: #181818;
}
h1{
	color: #fff;
	text-align: center;
	padding-top: 80px;
	font-size: 100px;
	font-family: "Fira Mono",monospace,'Roboto',-apple-system,BlinkMacSystemFont,'Ubuntu','Helvetica Neue',sans-serif;
}
@media (max-width:599px){
h1:hover{
	
	font-size: 110px;
	transition:font-size 0.2s;
}}
@media (min-width:600px){
h1:hover{
	
	font-size: 150px;
	transition:font-size 0.5s;
}}
p{
	font-size: 24px;
	color: #aaa;
	font-family: "Fira Mono",monospace,'Roboto',-apple-system,BlinkMacSystemFont,'Ubuntu','Helvetica Neue',sans-serif;
	
}

section{
	background-color: #181818;
}
.card-margin{
	margin-bottom: 80px;
}
.card-design{
	width: 60%;
	height: 300px;
	max-width: 750px;
	align-self: center;
	border-style: solid;
	border-color: #fff;
	border-width: 2px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 50px
	padding: 20px;
	box-shadow: 5px 5px white, 10px 10px #181818, 15px 15px white;

}


@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

.typing > *{
  overflow: hidden;
  white-space: nowrap;
  animation: typingAnim 5s steps(50);
}


@keyframes typingAnim{
  from { width: 0 }
  to { width: 100% }
}

